@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h3>Thank you for chosse our Best Coffee!</h3>

<p>We will always provide the best sevice and coffee for you. Give you a cup of coffee to start your day;)</p>
<picture>
    <source srcset="~/Content/DataTables/images/istockphoto-1001971972-170667a.jpg" media="(max-width: 600px)">
    <source srcset="~/Content/DataTables/images/best-coffee-beans-luxe-digital.jpg">
    <img src="~/Content/DataTables/images/best-coffee-beans-luxe-digital.jpg" alt="cat" style="width:auto;">
</picture>
