@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Coffee</h1>
    <p class="lead">Coffee is all about choice. If you have any questions plesae connact with this email -> ahuu0009@student.monash.edu </p>
    <p><a href="~/map.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <img src="~/Image/best-coffee-beans-luxe-digital.jpg" id=" background" , width="1000" />
</div>

